## Importing Modules and Preprocessing

In [10]:
!pip install mat4py
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from mat4py import loadmat
%matplotlib inline

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mat4py
  Downloading mat4py-0.5.0-py2.py3-none-any.whl (13 kB)
Installing collected packages: mat4py
Successfully installed mat4py-0.5.0

In [14]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [15]:
%cd 'gdrive/MyDrive/ML Lab Datasets'

/content/gdrive/MyDrive/ML Lab Datasets

In [16]:
data = loadmat('Matlab_cancer.mat')

In [17]:
data.keys()

dict_keys(['t', 'x'])

In [18]:
data_x = data['x']
data_y = data['t']
data_x = np.transpose(data_x)
np.transpose(data_y)
data_y = data_y[0]
data_x = np.array(data_x)
data_y = np.array(data_y)

In [19]:
data_x.shape

(216, 100)

In [20]:
data_y.shape

(216,)

In [21]:
df = pd.DataFrame(data_x)

In [22]:
def PCA(X , num_components):
     
    #Step-1
    X_meaned = X - np.mean(X , axis = 0)
     
    #Step-2
    cov_mat = np.cov(X_meaned , rowvar = False)
     
    #Step-3
    eigen_values , eigen_vectors = np.linalg.eigh(cov_mat)
     
    #Step-4
    sorted_index = np.argsort(eigen_values)[::-1]
    sorted_eigenvalue = eigen_values[sorted_index]
    sorted_eigenvectors = eigen_vectors[:,sorted_index]
     
    #Step-5
    eigenvector_subset = sorted_eigenvectors[:,0:num_components]
     
    #Step-6
    X_reduced = np.dot(eigenvector_subset.transpose() , X_meaned.transpose() ).transpose()
     
    return X_reduced,eigenvector_subset

## Removing One Eigenvector

In [25]:
x = df
target = data_y
mat_reduced,eg = PCA(x,99)
principal_df = pd.DataFrame(mat_reduced)
principal_df = pd.concat([principal_df , pd.DataFrame(target)] , axis = 1)

In [27]:
principal_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,0
0,-0.673201,-0.889922,0.212169,-0.529382,-0.459633,-0.335541,0.115979,-0.088246,0.045782,-0.013310,...,-0.002373,-0.006039,-0.003263,-0.007808,0.000014,-0.001258,0.001147,-0.001725,0.002128,1
1,-1.472090,-0.887787,0.803924,-0.017798,-0.471674,-0.315940,0.252919,-0.175758,0.121359,-0.037062,...,-0.004475,0.008211,0.002246,0.002064,-0.001776,-0.003272,-0.001771,0.003186,0.000585,1
2,-4.143399,0.630552,-0.028757,0.353891,-0.197041,-0.449780,0.044882,0.288183,0.082353,-0.156020,...,-0.003133,0.003764,-0.002287,-0.004098,-0.000911,-0.006437,0.003480,0.000319,-0.001625,1
3,-2.062684,-0.662332,0.191229,-0.611367,-0.207995,0.115587,0.421927,0.062953,0.303516,0.075606,...,-0.000393,0.000041,-0.001522,0.002701,-0.003048,0.001542,0.000593,0.001336,-0.000631,1
4,-7.110172,1.066008,2.404473,0.110741,-0.281457,0.269950,0.308334,-0.147788,0.196164,0.237242,...,-0.000033,0.007740,0.004160,-0.001126,0.003176,-0.001496,0.002123,-0.000138,0.001190,1

In [28]:
df1 = pd.DataFrame(data = np.dot(mat_reduced, eg.transpose()) + np.mean(data_x , axis = 0))

In [30]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.462904,0.406727,0.306230,0.488106,0.175152,0.356669,0.439481,0.246682,1.373504,1.572040,...,0.519664,0.403096,0.189212,0.364127,0.261925,0.102005,1.669076,0.080110,0.144630,0.106438
1,0.370543,0.306492,0.239608,0.476348,0.176013,0.352937,0.476563,0.259575,1.338724,1.676520,...,0.615079,0.494629,0.181199,0.446834,0.164084,0.163607,2.232141,0.238082,0.186311,0.126143
2,0.461538,0.279014,0.206549,0.744336,0.152196,0.247182,0.304567,0.170737,1.047340,1.193256,...,1.485385,1.251800,0.377729,0.486563,0.088773,0.108155,2.142049,0.233570,0.175433,0.099774
3,0.375159,0.287289,0.241179,0.426815,0.205807,0.209151,0.283525,0.152258,1.213896,1.510413,...,0.819142,0.673721,0.214030,0.701984,0.230199,0.129784,1.951762,0.168811,0.136828,0.116575
4,0.113859,0.108382,0.086326,0.219959,0.050740,0.116557,0.188167,0.069400,0.706046,0.816226,...,2.187411,1.729531,0.440726,0.310228,0.139616,0.108182,3.917750,0.246560,0.079683,0.012860

In [31]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.462901,0.406736,0.306215,0.488105,0.175169,0.356551,0.439552,0.246779,1.373469,1.571959,...,0.519682,0.403089,0.189221,0.364127,0.261905,0.102007,1.669069,0.080098,0.144621,0.106405
1,0.370565,0.306431,0.239715,0.476358,0.175900,0.353762,0.476071,0.258894,1.338965,1.677094,...,0.614954,0.494679,0.181136,0.446832,0.164218,0.163589,2.232187,0.238168,0.186373,0.126373
2,0.461550,0.278980,0.206608,0.744342,0.152133,0.247645,0.304292,0.170356,1.047475,1.193578,...,1.485315,1.251828,0.377694,0.486562,0.088848,0.108145,2.142075,0.233619,0.175468,0.099903
3,0.375149,0.287317,0.241130,0.426810,0.205859,0.208770,0.283752,0.152572,1.213785,1.510149,...,0.819199,0.673698,0.214058,0.701985,0.230137,0.129792,1.951741,0.168771,0.136800,0.116469
4,0.113849,0.108411,0.086275,0.219954,0.050794,0.116163,0.188402,0.069726,0.705930,0.815952,...,2.187471,1.729508,0.440756,0.310229,0.139552,0.108191,3.917728,0.246519,0.079653,0.012750

In [32]:
error = np.sum(np.mean(df - df1)**2)/100

In [33]:
error

3.8518425065196046e-34

## Remove 10 EigenVectors

In [34]:
x = df
target = data_y
mat_reduced,eg = PCA(x,90)
principal_df = pd.DataFrame(mat_reduced)
principal_df = pd.concat([principal_df , pd.DataFrame(target)] , axis = 1)

In [35]:
principal_df.head()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,0
0,-0.673201,-0.889922,0.212169,-0.529382,-0.459633,-0.335541,0.115979,-0.088246,0.045782,-0.013310,...,0.010490,-0.005575,0.004060,-0.001242,-0.003109,-0.004918,0.005746,-0.009431,0.001834,1
1,-1.472090,-0.887787,0.803924,-0.017798,-0.471674,-0.315940,0.252919,-0.175758,0.121359,-0.037062,...,0.005936,-0.000189,0.008642,0.000181,-0.004024,-0.008347,0.002601,-0.001358,0.009496,1
2,-4.143399,0.630552,-0.028757,0.353891,-0.197041,-0.449780,0.044882,0.288183,0.082353,-0.156020,...,0.003866,-0.007432,0.000535,0.003180,0.002491,0.000294,0.007695,-0.005359,-0.007257,1
3,-2.062684,-0.662332,0.191229,-0.611367,-0.207995,0.115587,0.421927,0.062953,0.303516,0.075606,...,0.003083,0.018774,-0.009234,0.015634,-0.000727,0.003341,-0.000713,-0.005276,-0.002247,1
4,-7.110172,1.066008,2.404473,0.110741,-0.281457,0.269950,0.308334,-0.147788,0.196164,0.237242,...,-0.009788,-0.004985,0.002502,0.004832,0.008240,0.005155,0.001945,0.004013,0.005604,1

In [36]:
df1 = pd.DataFrame(data = np.dot(mat_reduced, eg.transpose()) + np.mean(data_x , axis = 0))

In [37]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.463134,0.406266,0.306808,0.488040,0.174879,0.355133,0.441021,0.247482,1.375122,1.570861,...,0.519320,0.403396,0.188764,0.364117,0.262694,0.101506,1.669176,0.080152,0.144747,0.106138
1,0.370428,0.306913,0.239115,0.476265,0.176121,0.354437,0.475594,0.258415,1.339127,1.675208,...,0.615275,0.494603,0.181603,0.446860,0.163662,0.164204,2.232119,0.238250,0.186314,0.126542
2,0.461474,0.279249,0.206303,0.744338,0.152328,0.247614,0.304721,0.170171,1.047306,1.192431,...,1.485479,1.252016,0.377596,0.486601,0.088352,0.108269,2.142119,0.233732,0.175434,0.099804
3,0.375044,0.287447,0.241009,0.426828,0.206066,0.209699,0.282854,0.152002,1.213159,1.510846,...,0.819395,0.673656,0.214341,0.701967,0.229999,0.129531,1.951790,0.168843,0.136736,0.116709
4,0.113575,0.108791,0.086069,0.220147,0.050529,0.116902,0.188354,0.069058,0.707093,0.815050,...,2.187343,1.729536,0.440112,0.310256,0.139299,0.109001,3.917709,0.246619,0.079798,0.012787

In [38]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.462901,0.406736,0.306215,0.488105,0.175169,0.356551,0.439552,0.246779,1.373469,1.571959,...,0.519682,0.403089,0.189221,0.364127,0.261905,0.102007,1.669069,0.080098,0.144621,0.106405
1,0.370565,0.306431,0.239715,0.476358,0.175900,0.353762,0.476071,0.258894,1.338965,1.677094,...,0.614954,0.494679,0.181136,0.446832,0.164218,0.163589,2.232187,0.238168,0.186373,0.126373
2,0.461550,0.278980,0.206608,0.744342,0.152133,0.247645,0.304292,0.170356,1.047475,1.193578,...,1.485315,1.251828,0.377694,0.486562,0.088848,0.108145,2.142075,0.233619,0.175468,0.099903
3,0.375149,0.287317,0.241130,0.426810,0.205859,0.208770,0.283752,0.152572,1.213785,1.510149,...,0.819199,0.673698,0.214058,0.701985,0.230137,0.129792,1.951741,0.168771,0.136800,0.116469
4,0.113849,0.108411,0.086275,0.219954,0.050794,0.116163,0.188402,0.069726,0.705930,0.815952,...,2.187471,1.729508,0.440756,0.310229,0.139552,0.108191,3.917728,0.246519,0.079653,0.012750

In [39]:
error = np.sum(np.mean(df - df1)**2)/100

In [40]:
error

6.0932575675323265e-34